/* topbar css */
.topbar {
    height: 50px;
    width: 100%;
}

/* navbar css */
.navbar .navMenu a {
    text-decoration: none;
    color: black;
}

.navAction .searchBar {
    background-color: rgba(217, 217, 217, 0.794);
}

.navAction .searchBar input {
    outline: none;
    background-color: transparent;

    border: none;
}

/* hero css */
.hero ul {
    text-decoration: none;
    list-style: none;
}

.hero ul li a {
    text-decoration: none;
    color: black;
}

.redBox {
    height: 45px;
    width: 20px;
}

.dayBox,
.hoursBox,
.minutesBox,
.secondBox {
    /* height: 100px; */
    width: 100px;
}

.carouselButton {
    height: 50px;
    width: 50px;
}


.product {
    height: 350px;
    width: 260px;
    padding: 10px;
    /* border: 1px solid red; */
}

.product .productHead {
    height: 80%;
    width: 100%;
    overflow: hidden;
}

.product .productImg {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

.offer {
    font-size: 18px;
    top: 10px;
    left: 10px;
}

.wishlistBtn {
    height: 50px;
    width: 50px;
    top: 10px;
    right: 10px;
}

.addToCartBtn {
    width: 100%;
    position: absolute;
    bottom: -50px;
    opacity: 0;
    transition: all ease 0.3s;
}

.product .productHead:hover .addToCartBtn {
    bottom: 0px;
    opacity: 1;
}

.carouselButton{
    cursor: pointer;
    transition: all ease 0.2s;
}

.carouselButton:hover{
    background-color: black;
    color: white;
}

.viewAllBtn{
    padding: 10px 20px;
    font-size: 20px;
}

.category {
    /* height: 300px; */
    width: 250px;
    padding: 10px;
    /* border: 1px solid red; */
    transition: all ease 0.3s;
}

.category .productHead {
    height: 80%;
    width: 100%;
    overflow: hidden;
}

.category i{
    font-size: 100px;
}

.category:hover{
    background-color: rgb(219 68 68);
    color: white;
}